body {
  margin:0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

nav img {
  margin: 30px;
}

#logo {
  width:130px;
  height:25px;
}

#menu {
  width: 40px;
  width: 40px;
}

.btn-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 30px;
  margin-top: 40px;
}

button {
  width: 220px;
  height: 60px;
  border-radius: 30px;
  border: none;
  font-size: 1.2em;
  color: #393739;
  background-color: white;
  font-weight: 400;
}

#btn-browser {
  width: 300px;
  background-color: #242124;
  color: white;
}

#heroes {
  align-items: flex-end;
  position: absolute;
  top: 390px;
  left: 400px
}

.App {
  margin: 0 auto;
  background-color:  rgb(65, 80, 230);
  width: 70%;
  height: 750px;
  position: relative;
}

.text-container h1 {
  margin-top: 80px;
  line-height: 0.9em;
  text-transform: uppercase;
  font-size: 4.0em;
  width: 500px;

}

.text-container p {
  width: 530px;
  li